# Ignore Visual Studio files
.vs/

FrontEnd/ecommerce_frontend/node_modules/


# Ignore build results
[Bb]in/
[Oo]bj/

# Ignore user-specific files
*.user
*.suo

# Ignore logs
*.log

EcommerceApp/Migrations/

# Ignore NuGet packages
*.nupkg
packages/
